body {
    display: flex;
    margin: 0px;
    background-color: #1f2937;
    flex-direction: column;
}
a {
    color: #e5e7e5;
    font-size: 18px;
    margin-left: 16px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-top: 16px;
    margin-left: 112px;
    margin-right: 96px;
}
.logo {
    color: #e5e7e5;
    font-size: 24px;
    font-weight: bolder;
}
.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-2{
    display: flex;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 96px;
    padding-top: 112px;
}
.section-21{
    display: flex;
    flex-direction: column;
}
.section-21.title{
    color: #e5e7e5;
    font-size: 48px;
    font-weight: bolder;
}
.section-21.text {
    color: #e5e7e5;
    font-size: 18px;
}
.section-22 {
    display: flex;
    justify-content: center;
    width: 110%;
    align-items: center;
}
img {
    width: 100%;
    height: 90%;
}